<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head> -->
{% extends 'index1.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="notifi#about">
  <table width="200" border="1">
    <tr>
      <td>name</td>
      <td>description</td>
      <td>date</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.description}}</td>
      <td>{{i.date}}</td>
      <td><p><a href="{% url 'editnot' id=i.id %}#about">edit</a></p>
      <p>&nbsp;</p>
      <p><a href="{% url 'delnot' id=i.id %}">delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4"><label>
        <div align="center">
          <input type="submit" name="Submit" value="ADD" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
<!-- </html> -->
{% endblock %}